{% extends 'cnu/layout.html' %}
{% load static %}
{% block title %}
    Bacalaureat
{% endblock %}
{% block body %}
    <div class="layout-container">
        <div class="page-header">
            <div class="container">
                <h1 class="page-title">Bacalaureat</h1>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, numquam amet repellendus asperiores illo nam nesciunt obcaecati tenetur ex labore distinctio nobis, quod maiores dignissimos quidem eum quam ipsum nostrum!</p>
    </div>
{% endblock %}