{% extends 'cnu/layout.html' %}
{% load static %}
{% block title %}
    Calendar
{% endblock %}
{% block body %}
    <div class="layout-container">
        <h1 class="text-center mb-5">Evenimente - Colegiul National 'Unirea' Turnu Magurele</h1>
        <div class="event-tab">
            <div class="active-events">
                <h5 class="ml-1">Evenimente active</h5>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat consectetur ipsa, id qui natus omnis voluptas maiores voluptates. Illum assumenda nihil porro atque. Officiis eos dicta quam tempora soluta quis?</p>
            </div>
            <div class="past-events">
                <h5 class="ml-1">Ultimele evenimente</h5>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corrupti laudantium ex aut voluptatem esse nemo commodi dicta dolore velit, numquam qui beatae quaerat totam optio eaque distinctio blanditiis perferendis.</p>
            </div>
        </div>
    </div>
{% endblock %}